{
  "presets":[
    ["env"],
    ["react"],
    ["stage-2"]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "useInlineSourceMaps": false
        }]
      ]
    }
  }
}
